<!-- Copyright (c) 2014 Recursive Software Development http://www.recursive.ee -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    {% block Stylesheets %}
       {% stylesheets
        'css/bootstrap.min.css'
        'css/style.css'
        'css/pnotify.custom.min.css'
        'css/lightbox.css'
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}">
       {% endstylesheets %}
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}
</head>
<body>
 {% include('navbar.html.twig') %}
  <div id="main" class="container-fluid">
  	<div class="row">
     {% include('sidebar.html.twig') %}
 	  <!--Start Content-->
      <div id="content" class="col-xs-12 col-sm-10">
         {% block body %}{% endblock %}
      </div>
      <!--End Content-->
  	</div>
  </div>
{% block javascripts %}
  {% javascripts
        'js/jquery.js'
        'js/bootstrap.js'
        'js/pnotify.custom.min.js'
        'js/bootbox.js'
        'js/main.js'
        'js/lightbox.min.js'
  %}
 <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
</body>
</html>
