<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
        <p class = "navbar-text">{{ app_name }} {{ app_ver }} is developed by
                {% image 'img/recursive.png' %}
                        <a href="http://www.recursive.ee"><img src="{{ asset_url }}" alt="Logo" class="img-responsive" style="max-height:1.3em; display:inline-block;" /></a>
                {% endimage %}
        </p>
        
  </div>
</div>