<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
                <a href="{{ path('recursive_main_main_index') }}">
                    {% image 'img/logocc.png' %}
                         <img src="{{ asset_url }}" alt="Control Center {{ app_ver }}" style="max-height:2em;"/>
                    {% endimage %}

                </a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">

				<div class="row">
					<div class="col-xs-8 col-sm-4">
						<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">

						<ul class="nav navbar-nav pull-right panel-menu">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">Benvenuto,</span>
										<span>{{ app.user.username }}</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ path('logout') }}">
											<i class="fa fa-power-off"></i>
											<span class="text">Logout</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>

					</div>
				</div>

			</div>
		</div>
	</div>
</header>