<div id="sidebar-left" class="col-xs-2 col-sm-2">

			<ul class="nav main-menu">

				<li>
					<a href="{{ path('recursive_main_main_index') }}" class="ajax-link">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">Dashboard</span>
					</a>
				</li>
                <li>
					<a href="{{ path('recursive_settings_settings_index', {'file':'motion'}) }}" class="ajax-link">
						<i class="fa fa-gears"></i>
						<span class="hidden-xs">Motion</span>
					</a>
				</li>
                <li>
					<a href="{{ path('recursive_settings_settings_index', {'file':'weddingfilm'}) }}" class="ajax-link">
						<i class="fa fa-gears"></i>
						<span class="hidden-xs">Wedding film</span>
					</a>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-picture-o"></i>
						 <span class="hidden-xs">Gallerie</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="{{ path('recursive_gallery_gallery_gallery',{'gallery_name': 'reception'}) }}">Reception</a></li>
						<li><a class="ajax-link" href="{{ path('recursive_gallery_gallery_gallery',{'gallery_name': 'youandme'}) }}">You and Me</a></li>
						<li><a class="ajax-link" href="{{ path('recursive_gallery_gallery_gallery',{'gallery_name': 'ceremony'}) }}">Ceremony</a></li>
						<li><a class="ajax-link" href="{{ path('recursive_gallery_gallery_gallery',{'gallery_name': 'gettingready'}) }}">Getting Ready</a></li>
						<li><a class="ajax-link" href="{{ path('recursive_gallery_gallery_gallery',{'gallery_name': 'shop'}) }}">Shop</a></li>
					</ul>
				</li>


			</ul>

</div>