{% extends "::base.html.twig" %}

{% block Stylesheets %}
  {{ parent() }}
  {% stylesheets '@RecursiveMainBundle/Resources/public/css/*.css' filter="cssrewrite" %}
     <link rel="stylesheet" href="{{ asset_url }}">
  {% endstylesheets %}
{% endblock %}

{% block title %}{{ app_name }} - Website Settings{% endblock %}

{% block body %}
<div class="row" >
  {% block appContent %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <br>
            <h2>Impostazioni - {{ file }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            {% autoescape false %}
                {{ help }}
            {% endautoescape %}
            <form class="form" action="{{ path('recursive_settings_settings_index', {'file': file}) }}" method="POST" >

            {% for curr_setting in settings %}
               <div class="form-group">
                <label for="{{ curr_setting.name }}" >{{ curr_setting.name }}:&nbsp;&nbsp;</label>
                <input type="text" class="form-control" id="{{ curr_setting.name }}" name="{{ curr_setting.name }}" value="{{ curr_setting.value }}">
              </div>
            {% endfor %}
              <button type="submit" class="btn btn-success btn-lg" ><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Salva Impostazioni</button>
 		</form>
        </div>
      </div>
    </div>

  {% endblock %}
</div>
{% endblock %}
