{% extends "::base.html.twig" %}

{% block Stylesheets %}
  {{ parent() }}
  {% stylesheets '@RecursiveMainBundle/Resources/public/css/*.css' filter="cssrewrite" %}
     <link rel="stylesheet" href="{{ asset_url }}">
  {% endstylesheets %}
{% endblock %}

{% block title %}{{ app_name }} - Main view{% endblock %}


{% block body %}
<div class="row" >
  {% block appContent %}
    <div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
        <A href="{{ path('logout') }}" >Logout</A>
       <br>
        <p class=" text-info">{{ "now"|date("F jS \\a\\t g:ia") }} </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Gabriele Lupo Main - User {{ app.user.username }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-12 col-lg-12 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Stato del sistema:</td>
                        <td>Buono</td>
                      </tr>
                      <tr>
                        <td>Deploy date:</td>
                        <td>01/01/2015</td>
                      </tr>
                      <tr>
                        <td>Uptime:</td>
                        <td>99.9998%</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Installed modules:</td>
                        <td>Gallery++ (3.0)</td>
                      </tr>
                        <tr>
                        <td>License type(s)</td>
                        <td>Full - Unlimited</td>
                      </tr>
                      <tr>
                        <td>Support contact person</td>
                        <td><a href="mailto:andrea@recursive.ee">andrea@recursive.ee</a></td>
                      </tr>
                        <td>IP</td>
                        <td>{{ app.request.server.get("REMOTE_ADDR") }}
                        </td>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a href="http://www.recursive.it"><img src="http://recursive.ee/images/logo.png" alt="http://www.recursive.ee" style="height:2em;" /></a>
                    </div>

          </div>
        </div>
      </div>
    </div>

  {% endblock %}
</div>
{% endblock %}
