
<style type="text/css">
<!--
    .gallery-edit-thumb {
      display:inline-block;
      max-width:160px;
      max-height:80px;
      margin: 5px 5px 5px 5px;
    }

-->
</style>
<div class="row">
    <div class="col-xs-12">
            <div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-edit"></i>
					<span>Modifica </span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div style="display: block;" id="edit_view" class="box-content">
               <button type="button" class="btn btn-primary btn-label-left" id="b_closeEdit"><span><i class="fa fa-arrow-circle-o-left "></i></span> Indietro</button>
               <p>Cliccare sulle singole immagini per visualizzare la versione ad alta risoluzione.</p>
               <div id="edit_thumbs" class="well"></div>
               <button type="button" class="btn btn-default btn-label-left" id="b_refreshThumbs"><span><i class="fa fa-refresh"></i></span> Rigenera thumbnails</button>
               <button type="button" class="btn btn-default btn-label-left" id="b_rotateLeft"><span><i class="fa fa-rotate-left"></i></span> Ruota a SX</button>
               <button type="button" class="btn btn-default btn-label-left" id="b_rotateRight"><span><i class="fa fa-rotate-right"></i></span> Ruota a DX</button>
               <button type="button" class="btn btn-default btn-label-left" id="b_grayScale"><span><i class="fa fa-circle-o"></i></span> Scala di grigi</button>
               <button type="button" class="btn btn-default btn-label-left" id="b_blur"><span><i class="fa fa-circle-o"></i></span> Sfuoca</button>
			</div>
		</div>
    </div>
  </div>

<script>
    var galleryRotatePath="{{ path('recursive_gallery_gallery_rotate',{'gallery_name': gallery_name}) }}";
</script>