{% extends "RecursiveMainBundle:Main:index.html.twig" %}

{% block Stylesheets %}
    {{ parent() }}
    {% stylesheets
         'bundles/recursivegallery/css/jquery.fileupload.css'
         'bundles/recursivegallery/css/fancybox/jquery.fancybox.css'
         filter="cssrewrite" %}
            <link rel="stylesheet" href="{{ asset_url }}">
            <style type="text/css">
            <!--
            .gallery-image {
              border: dashed medium rgba(0,0,0,0);
              max-height: 200px;
            }
            .gallery-mini-thumb {
                display:inline-block;
                width:50px;
                height:50px;
                margin: 5px 5px 5px 5px;
            }

            .selected-image {
              opacity: 0.6;
              border: dashed medium #4169E1;
            }

            #galleryEdit {
              display:none;
            }

            -->
            </style>
    {% endstylesheets %}

{% endblock %}



{% block title %}RecursiveGalleryBundle:Gallery:gallery{% endblock %}

{% block appContent %}

<!-- Overlay per upload -->
<div id="overlay" style="position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:rgba(0,0,0,0.65); display:none; z-index: 10000 !important; ">
    <div id="overlay_message" style="position:fixed; top:50%; left:50%; maargin: 0 auto; color:rgb(200,200,200); text-shadow:4px 4px 3px #808080;">
        <h1><span class="fa fa-cloud-upload"></span> Upload</h1>
    </div>
</div>
<!-- fine Overlay per upload -->





<div id="breadcrumb" class="col-xs-12">
  		<ol class="breadcrumb">
  			<li><a href="#">Galleria</a></li>
  			<li><a href="{{ path('recursive_gallery_gallery_gallery',{'gallery_name': gallery_name}) }}">{{ gallery_name }}</a></li>
            <li><a href="#" id="labelSelection"></a></li>
  		</ol>
</div>
<div class="container-fluid" onmousedown="event.preventDefault ? event.preventDefault() : event.returnValue = false" id="galleryView">
  <div class="row">
    <div class="col-xs-12">
    <p>Per caricare nuove foto in questa galleria, trascinarle sulla finestra del browser o premere il pulsante &quot;Carica foto&quot;</p>
    </div>
  </div>
  <div class="row toolBar" >
    <div class="col-sm-2">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span> Carica foto.. </span>
            <input id="fileupload" type="file" name="files[]" data-url="{{ oneup_uploader_endpoint(gallery_name) }}" multiple />
        </span>
        <br>
    </div>
    <div class="col-sm-9" >
      <button type="button" id="b_Edit" class="btn btn-info btn-label-left" disabled="disabled"><span><i class="fa fa-edit"></i></span>&nbsp;Modifica</button>
      <button type="button" id="b_SelAll" class="btn btn-default">Seleziona tutte</button>
      <button type="button" id="b_SelNone" class="btn btn-default" disabled="disabled">Deseleziona</button>
      <button type="button" id="b_Delete" class="btn btn-danger delete_button btn-label-left" disabled="disabled"><span><i class="glyphicon glyphicon-trash"></i></span>&nbsp;Elimina</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
            <div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-picture-o"></i>
					<span>Galleria &quot;{{ gallery_name }}&quot;</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div style="display: block;" id="simple_gallery" class="box-content">
                {% for f in files %}
    				<a href="#" >
	    				<img class="gallery-image" src="{{ asset('uploads/') ~ gallery_name ~ '/thumbnails/medium/' ~ f }}" alt="IMG_{{ f }}" onerror="this.src='{{ asset('bundles/recursivegallery/images/photo.png') }}'" data-filename="{{ asset('uploads/') ~ gallery_name ~ '/' ~ f }}" >
    				</a>
                {% endfor %}
			</div>
		</div>
    </div>
  </div>
</div>
<!-- gallery edit -->
<div class="container-fluid" onmousedown="event.preventDefault ? event.preventDefault() : event.returnValue = false" id="galleryEdit">
    <!-- subApp viene caricata dinamicamente -->
</div>
<!-- fine gallery edit -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/recursivegallery/js/jquery.ui.widget.js'
        'bundles/recursivegallery/js/jquery.iframe-transport.js'
        'bundles/recursivegallery/js//jquery.fileupload.js'
        'bundles/recursivegallery/js/jquery.fileupload-process.js'
        'bundles/recursivegallery/js/jquery.fileupload-image.js'
        'bundles/recursivegallery/js/jquery.fancybox.js'
        'bundles/recursivegallery/js/main.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script>
  // Queste son qui perche Twig non scrive di default in js.
  var galleryPath="{{ asset('uploads/') ~ gallery_name ~ '/'  }}";
  var galleryThumbSmallPath="{{ asset('uploads/') ~ gallery_name ~ '/thumbnails/small/'  }}";
  var galleryThumbMediumPath="{{ asset('uploads/') ~ gallery_name ~ '/thumbnails/medium/'  }}";
  var galleryThumbLargePath="{{ asset('uploads/') ~ gallery_name ~ '/thumbnails/large/'  }}";
  var galleryDeletePath = "{{ path('recursive_gallery_gallery_delete',{'gallery_name': gallery_name}) }}";
  var galleryFilterPath = "{{ path('recursive_gallery_gallery_filter',{'gallery_name': gallery_name}) }}";
  var galleryRefreshThumbnailsPath="{{ path('recursive_gallery_gallery_thumbnails',{'gallery_name': gallery_name}) }}";
  var galleryEditViewPath ="{{ path('recursive_gallery_gallery_editsnip',{'gallery_name': gallery_name}) }}";
  var galleryEditScriptPath="{{ asset('bundles/recursivegallery/js/edit.js')  }}";

  var galleryErrorImage= '{{ asset('bundles/recursivegallery/images/photo.png') }}';
</script>

{% endblock %}
