<!-- Copyright (c) 2014 Recursive Software Development http://www.recursive.ee -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ app_name }}{% endblock %} - Login</title>
        {% block Stylesheets %}
           {% stylesheets
            'css/bootstrap.min.css'
            'css/style.css'
            filter="cssrewrite" %}
            <link rel="stylesheet" href="{{ asset_url }}">
           {% endstylesheets %}
            <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  		    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
        	<div id="page-login" class="row">
        		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        			<div class="box">
        				<div class="box-content">
        					<div class="text-center">
        						<!-- <h3 class="page-header">Control Center {{ app_ver }}</h3> -->
                                {% image 'img/logocc.png' %}
                                    <img src="{{ asset_url }}" alt="Control Center {{ app_ver }}"/>
                                {% endimage %}
                                <h3>Benvenuti in Control Center {{ app_ver }} codename {{ app_codename }}</h3>
                                <br><br>
        					</div>
                             {% if error %}
                              <div class="alert alert-dismissable alert-danger">
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                  <strong>Errore: </strong>{{ error.message }}
                              </div>
                             {% endif %}
                            <form class="form-signin" action="{{ path('login_check') }}" method="post">
                               <fieldset>
                					<div class="form-group">
                						<label class="control-label">Nome utente</label>
                						<input class="form-control" placeholder="Username" for="username" id="username" name="_username" value="{{ last_username }}" autofocus required>
                					</div>
                					<div class="form-group">
                						<label class="control-label">Password</label>
                						<input class="form-control" placeholder="Password" id="password" name="_password" required type="password">
                					</div>
                					<div class="text-center">
                						<input class="btn btn-primary" type="submit" value="Secure Login">
                					</div>
                               </fieldset>
        			      	</form>
                	    </div>
        			</div>
        		</div>
        	</div>
        </div>

        {% block javascripts %}

            {% javascripts
                  'js/jquery.js'
                  'js/bootstrap.js'
                  'js/main.js'
            %}
           <script src="{{ asset_url }}"></script>

            {% endjavascripts %}
        {% endblock %}
    </body>
</html>







