
<br><br><br>
<p>Inserire il numero del video Vimeo che si desidera inserire nel valore del corrispondente parametro.
</p>
<var>es.: http://vimeo.com/<b>96291370</b></var>
<br><br>
<p>&Egrave; possibile lasciare un campo vuoto per rimuovere il video nella posizione corrispondente dal sito web.</p>
<hr>